body {
  font-family: Arial;
  text-align: center;
}

.filters button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Lightbox */
#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

#lightbox img {
  width: 60%;
  margin-top: 10%;
}

#lightbox span {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}